<header class="intro">
  <div class="wrapper">
    <h1{{ ' class="visually-hidden"' | safe if page.url === '/' }}>{{ introHeading }}</h1>
    {% if introSummary %}
      <div class="intro__summary">{{ introSummary | safe }}</div>
    {% endif %}
  </div>
</header>
