{% if postListItems.length %}
  <section class="post-list">
    <div class="wrapper">
      {% if postListHeading %}<h2 class="post-list__heading">{{ postListHeading }}</h2>{% endif %}
      <ol class="post-list__items" reversed>
        {% for item in postListItems %}
          <li class="post-list__item">
            <h3>
              <a href="{{ item.url }}" class="post-list__link" rel="bookmark">{{ item.data.title }}</a>
            </h3>
            <p>
              <time datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
            </p>
          </li>
        {% endfor %}
      </ol>
    </div>
  </section>
{% endif %}
