<footer role="contentinfo" class="site-foot">
  <div class="wrapper">
	{% if site.shortDesc %}
	<article class="site-foot__details">
	<h2>{{ site.name }}</h2>
	{{ site.shortDesc | markdownFilter | safe }}
	</article>
	{% endif %}
	{% include "partials/components/social-nav.njk" %}
	<p class="rights">&copy; 2011&ndash;present Ned Zimmerman</p>
  </div>
</footer>
