<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="monetization" content="$pay.stronghold.co/1a11843a99345e34df0836548aae3302221">
		<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml"/>
		{# <link rel="icon" href="" type="image/png"/> #}
		<link rel="preload" as="font" type="font/woff2" crossorigin href="/fonts/leaguespartan-bold.woff2"/>
		<link rel="preload" as="font" type="font/woff2" crossorigin href="/fonts/lora-v17-latin-regular.woff2"/>
		<link rel="preload" as="font" type="font/woff2" crossorigin href="/fonts/ibm-plex-mono-v6-latin-regular.woff2"/>
		{% include "partials/global/meta-info.njk" %}
		<script>document.documentElement.classList.remove('no-js');</script>
		<style>
			{% include "assets/css/global.css" %}
		</style>
		{% block head %}{% endblock %}
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	</head>
	<body>
		{% include "partials/global/site-head.njk" %}
		{% block content %}{% endblock content %}
		{% include "partials/global/site-foot.njk" %}
		{% block foot %}{% endblock %}
		<script>
			if ('serviceWorker' in navigator) {
				window.addEventListener('load', () => {
					navigator
						.serviceWorker
						.register('/service-worker.js');
				});
			}
		</script>
	</body>
</html>
